.reg-form {
  width: 500px;
  margin: auto;
  margin-top: 20vh;
  box-shadow: -5px 5px 10px grey;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}
.row.center {
  justify-content: center;
}
.bname {
  margin-left: 20px;
  font-size: 2rem;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.top-nav-item {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Forgetpass a {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.Forgetpass {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
